NEXT_PUBLIC_ML_API_URL=https://portfolio-pkdj.onrender.com
NEXT_PUBLIC_SKIN_API_URL=https://anishreddy13-skin-cancer-api.hf.space

NEXT_PUBLIC_SUPABASE_URL= https://poxczxizlsllglexrgrn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBveGN6eGl6bHNsbGdsZXhyZ3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzOTA2NzksImV4cCI6MjA5NDk2NjY3OX0.q7F4cjKgZMkNS_wOsBh9ugnuXi0_b0yZ4Viwrt45nDA
